body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem; /* Utilisation de rem */
    font-family: 'Chivo Mono';
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 1.2rem; /* Utilisation de rem */
    font-family: 'Chivo Mono';
    text-align: center;
    margin-bottom: 1em; /* Utilisation de em */
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: 'Chivo Mono';
    text-align: center;
    margin-bottom: 1em;
}

a {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: 'Chivo Mono';
    text-align: center;
    margin-bottom: 0.5em;
}

strong {
    font-size: 1.5rem;
    font-family: 'Chivo Mono';
}

pre {
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    font-family: 'Chivo Mono';
    max-width: 100%;
    text-align: left;
    display: flex;
}

img {
    border: 0.3rem solid black;
}

.licence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: 5vh auto; /* Utilisation de vh pour la marge verticale */
}

.licencePearks,
.licenceObligations {
    width: 48%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: black;
    margin-bottom: 1em;
}

.licenceText {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Chivo Mono';
    text-align: left;
    margin-bottom: 0.5em;
    display: block;
}

.page-button {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-button a {
    float: left;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 1.5rem;
}

.page-button a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.page-button .icon {
    display: none;
}

.pageContent {
    max-width: 100%;
    overflow: hidden;
    margin-top: 3rem; /* Utilisation de rem */
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée 2 colonnes de largeur égale */
    grid-template-rows: repeat(3, auto); /* Crée 2 lignes avec une hauteur automatique */
    gap: 1em; /* Ajoute un espacement d'1em entre les éléments de la grille */
    margin: 1em auto; /* Centre la grille et ajoute une marge */
    max-width: 100%; /* Adapte la largeur maximale de ta grille */
    padding: 0 1em; /* Ajoute un peu de padding pour éviter que les éléments ne collent aux bords */
}

.MyGame {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.MyGame iframe {
    width: 100%;
    height: auto; /* L'auto est bon pour maintenir les proportions */
    display: block;
    /* Ajoute une hauteur min/max si nécessaire pour uniformiser les iframes */
    min-height: 167px; /* Exemple, ajuste selon tes besoins */
}


.topnav {
    background-color: #000000;
    overflow: hidden;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 0.8em;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.topnav .icon {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .licence {
        flex-direction: column;
        align-items: center;
        margin-top: 80px; /* Ajuster pour les mobiles */
    }

    .licencePearks,
    .licenceObligations {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .MyGame {
        width: 100%; /* Carrousel sur les très petits écrans */
    }
}

@media screen and (max-width: 768px) {
    .licence {
        margin-top: 80px; /* Ajuster pour les tablettes */
    }
}
